.main-block {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

.left-column {
    width: 65%;
    position: relative;
    margin-right: 10px;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.bicycle-description {
    font-size: 25px;
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 25px;
}

.bicycle-name{
    font-weight: 1000;
    font-size: 80px;
    color: black;
    padding-bottom: 30px;
    letter-spacing: -2px;
}

.booking {
    display: flex;
}

.bicycle-cost {
    width: 30%;
    font-size: 30px;
    align-items: center;
    position: relative;
}

.bicycle-cost::after {
    content: "₽/Ч";
    margin-left: 4px;
    position: relative;
}

.booking-button {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}
.booking-button:hover {
  background-color: #64af3d;
}
