.date, .rental-point, .stopwatch{
    font-size: 25px;
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 25px;
    line-height: 1.5;
}

.booking-header {
    font-size: 40px;
}

.start-button {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}

.finish-button {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}

label {
    font-size: 20px;
}

.cost h2 {
    display: inline;
}

.cost span {
    font-size: 25px;
}

.cost span::after{
    content: "₽";
}

.auth-form {
    position: absolute;
    margin: auto;
    width: 40%;
    left: 50%;
    transform: translate(-50%, 0);
}

.auth-form h1, #reg-notification{
    text-align: center;
}

.auth-form input {
    display: block;
    margin: 0 auto 30px;
}

.auth-form label{
    margin-left: 16%;
}

.auth-form button {
    position: relative;
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);
}
